<!DOCTYPE html>
<html ng-app="race07" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-controller="Race07Ctrl">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8888');    
    

    var race07app = angular.module('race07', []);

    race07app.controller('Race07Ctrl', function ($scope) {

        socket.on('race07 data', function (data) {
            angular.extend($scope, data);
            $scope.$apply();
        });

        $scope.displayTime = function (x) {
            if (!x)
                return '-';

            var rem = div(x, 1000 * 60 * 60);
            var h = rem.quot;
            rem = div(rem.rem, 1000 * 60);
            var m = rem.quot;
            rem = div(rem.rem, 1000);
            var s = rem.quot;
            var ms = rem.rem;
            
            if(h!= 0)
                return h + ':' + pad(m, 2) + ':' + pad(s, 2) + '.' + pad(ms, 3);            
            return m + ':' + pad(s, 2) + '.' + pad(ms, 3);
        };

        function pad(n,len) {
            return 0..toFixed(len).slice(2, -n.toString().length) + n.toString();
        }
        function div (x,y) {            
            var bleh = { rem: {}, quot: {} };
            bleh.rem = x % y;
            bleh.quot = (x - bleh.rem) / y;
            return bleh;            
        }

        $scope.leader = function (player) {
            if ($scope.Race.RaceMode == '5') {
                return (player.Laps * $scope.Race['Track Length']) + player.LapDistanceTravelled;
            }
            else {
                return player.BestLap;
            }
        }

        $scope.raceModeMeaning = function (mode) {            
            if (mode == '5') {
                return 'Race';
            }
            return 'NOT RACING!';
        };

        $scope.getRaceImg = function () {            
            var s = $scope.Race.Scene.split(/\\/);
            var track = s[s.length - 1];
            var track = track.substring(0, track.length - 4);
            console.log(track);
            return track.concat('.jpg');
        };
    });


</script>
    <style>
        td {
            border: 1px solid black;
        }

    </style>
    <img ng-src="{{getRaceImg()}}" />    
    <div>
        Race Mode: {{raceModeMeaning(Race.RaceMode)}}
    </div>
    <table>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Best Lap</th>
            <th>Laps</th>
            <th>DT</th>
        </tr>
        <tr ng-repeat="player in Players | orderBy:leader:Race.RaceMode!='1'">
            <td>{{$index+1}}</td>
            <td>{{player.Driver}}</td>
            <td>{{displayTime(player.BestLap)}}</td>
            <td>{{player.Laps}}</td>
            <td>{{player.LapDistanceTravelled}}</td>
        </tr>
        <tr ng-if="!Players.length">
            <td colspan="4">Nobody playing!</td>
        </tr>
    </table>
</body>
</html>
<!-- http://docs.angularjs.org/api/ng.filter:date -->